*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* object-fit: cover; */
}
 

 .dark img{
    width: 10rem;
    border-radius: 1rem !important;
}
ul li a {
    color: black !important;
}
 .dark{
    background-color: #b2744c !important;
 }

 form a{

    transition: transform 0.5s ease;
    text-decoration: none;
}
form a:hover{
    transform: scale(1.1);
    background-color: red !important;
    text-decoration: none;
}
.image{
    position: relative;
}
.image img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 25rem !important;
}

.centered-text{
    position: absolute;
    top: 25%;
    left: 5%;
     color: #fff;
}
h1{
    width: 65%;
    /* font-size: 3rem; */
}
.p{
    padding-left: 30px;
    padding-right: 30px;
}
.centered-text button{
    transition: transform 0.5s ease;
}
.centered-text button:hover{
    background-color: #b2744c !important;

}
/* ABOUT */
.pl{
    padding-left: 30rem !important;
}
.pl .US{
    color: #b2744c !important;
}

.bok{
    border: 2px solid #b2744c !important ;
    padding-left: 3rem;
    padding-right: 3rem;
}
button .learn {
    color: #b2744c !important;
}
button .learn:hover {
    color:#fff !important;
}
button:hover{
    background-color: #b2744c !important;
   ;
    
}
/* GALLLERY */
  
.c1 a img{
    
    transition: transform 0.5s ease;
} 
.c1 a img:hover{
    transform: scale(1.1);
     
}  
hr{
    background-color: #b2744c !important;
    border: 2px solid #b2744c !important;
    color: #b2744c !important;
 } 
 .star{
    color: #b2744c !important;

 }
 .ac{
    margin-left: 8rem !important;
 }
 .ca{
    margin-left: 6rem !important;
 }
 h4  .US{
    color: #b2744c !important;
    padding-left: 1rem;
}
.Send{
    background-color: #b2744c !important;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    
}
body{
    background: #f7f5f2 !important;
}
.tact{
    background-color: #fff;
}
.info{
    background: black;
    color: #fff;
}
/* contacte */
.contact .container {
    width: 100%;
    height: 80vh;
    background: white;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
 .te{
    padding-left: 1rem;
 }
 
.contact input{
    border: none;
    border-bottom: 1px solid #b2744c;
    width: 75%;
}

 /* Footer */
 .dar img{
    width: 10rem;
    margin-top: 3rem !important;
    border-radius: 1rem !important;

 }
 #footer{
    background-color: #b2744c;
    height: 50vh;

 }

 .socail-links li {
    border: 1px solid ;
    border-radius: 20%;
    background: #198754;
    transition: transform 0.5s ease;

 }
 .socail-links li:hover{
    transform: scale(1.1);
    background-color: #b2744c;
 }

 .socail-links li a i{
    width: 2rem;
    color: black;
    transition: transform 0.5s ease;

 }
 .socail-links li a i:hover{
    transform: scale(2.1);

 }

 .arrow{
    float:right;
 }
 .arrow img:hover{
    background-color: #6610f2;
    border-radius: 30%;
 }


@media screen and (max-width:960px){
    h1 {
        font-size: 15.5px !important;
       
    }
    .pl{
         text-align: center;
            padding-left: 0rem !important;
    }
    .temo{
        margin-top: 7rem !important;
    }

    .ac{
        margin-left: 15rem !important;
     }
     .ca{
        margin-left: 15rem !important;
     }
     .navbar-nav{
        text-align: center;
     }
  }